// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    mode "2880x1800@90.000" // Set resolution and refresh rate
    scale 2.0
    position x=0 y=0
}

output "HDMI-A-1" {
    //mode "3840x2160@60.000" // Set resolution and refresh rate
    scale 2
    position x=1440 y=0
}
