    prefer-no-csd
    screenshot-path null

    cursor {
        //xcursor-theme "capitaine-cursors"
        xcursor-theme "catppuccin-mocha-mauve-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }


