// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

/- output "DP-1" {
    mode "2560x1440@359.979" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

output "eDP-1" {
    mode "2560x1600@165.002" // Set resolution and refresh rate
    scale 1.5
    position x=0 y=0
}

output "HDMI-A-1" {
    //mode "3840x2160@60.000" // Set resolution and refresh rate
    scale 2
    position x=1707 y=0
}
